<html>
    <head>
        <title>Django Girls blog</title>
    </head>
    <body>
        <div>
            <h1><a href="">Django Girls Blog (now with 70% more cats)</a></h1>
        </div>

        <div>
            <img src="http://thecatapi.com/api/images/get?format=src&type=png&size=small"></img>
        </div>

        {% for post in posts %}
            <div>
                <p>published: {{ post.published_date }}</p>
                <h1><a href="">{{ post.title }}</a></h1>
                <p>{{ post.text|linebreaks }}</p>
            </div>
        {% endfor %}
        
    </body>
</html>